<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ws.mybatis.dao.ShopMapper">

    <cache></cache>

    <select id="selectShopByUserId" parameterType="string" resultType="shop">
        select * from shop where user_id = #{userId}
    </select>

    <select id="selectOneByUserId" parameterType="string" resultType="shop">
        select * from shop where user_id = #{userId}
    </select>

    <insert id="insertShop" parameterType="shop">
        insert into shop values (#{id},#{userId},#{shopName},#{price})
    </insert>

</mapper>