<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--读取外部配置文件-->
    <properties resource="mybatis/jdbc.properties">
        <property name="custom" value="1"/>
    </properties>

    <settings>
        <!-- changes from the defaults for testing -->
        <!--源码最终还是将setting标签解析为Properties-->
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.ws.mybatis.model.User" alias="user"></typeAlias>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <!--数据库最大可连接数-->
                <property name="poolMaximumActiveConnections" value="160"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/mapper/UserMapper.xml"/>
        <mapper resource="mybatis/mapper/test.xml"/>
       <!-- <package name="com.ws.mybatis.dao"/>-->
    </mappers>
</configuration>



